@import "tailwindcss";
* {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  transition: all 0.2s ease-out;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-mono: var(--font-mono);
  --animate-loading: Loading 1s linear infinite;

}

@keyframes Loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.active {
  height: 140px;
}